{% extends 'toppage-base.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
情報入力
{% endblock %}

{% block pagestyle %}
  <style>
    input.my-date-input {
      border-radius: 5px;
      font-size: 12px;
      display: inline-block;
      width: 120px;
    }

    label.form-check-label {
      font-size: 12px;
    }
    .form-check-label {
      margin: 0 3px 0 0;
    }
    label{
      margin-bottom: 0;
    }
    span.errormsg {
      color: red;
      font-size: 12px;

    }
    .condition {
      display: block;
      background-color:teal;
      color: white;
      border-radius: 3px;
      padding: 3px 10px;
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 14px;
    }
    @media screen and (max-width: 480px){
      h1, h2, h3 {
        font-size: 20px;
      }
      span {
        font-size: 12px;
      }
      span.badge.badge-danger {
        font-size: 10px;
      }
      label {
        font-size: 12px;
      }
      input.my-date-input {
        font-size: 10px;
        width: 120px;
        background-color: white;
      }
    }
  </style>
{% endblock %}
{% block header %}情報入力{% endblock %}
{% block content %}
    <form action="" method="post">
      {{ form.non_field_errors }}
      <input type="hidden" name="email" id= "id_email" value="{{ email }}">
      
      <input type="hidden" name="clinic" id= "id_clinic" value="{{ clinic }}">
      
      <div class="form-group">
          <span class="condition"><label for="id_nickname" class="control-label">名前(ニックネーム可)</label><span class="badge badge-danger">必須</span></span>
          <input type="text" name = 'nickname' id = 'id_nickname' class="form-control" value="{{ instance.nickname }}">
      </div>
      {{ form.nickname.errors }}

      <span class="condition"><label for="no_specific_time">ご希望の時間帯</label></span>
      {% for err in form.timeframes.errors %}
        <span class="errormsg"><i class="fas fa-exclamation"></i>{{ err }}</span>
      {% endfor %}
      <div>
        <div class="form-check form-check-inline">
          <input id="id_is_anytime" name = 'is_anytime' type="checkbox" class="form-check-input" {% if instance.is_anytime %}checked{% endif %}>
          <label class="form-check-label" for="id_is_anytime">
            指定なし
          </label>
        </div>
        
        <ul>
          {% for dow_key, dow_value in day_of_week_dict.items %}
            <li>
                <span>{{ dow_value }}</span>
                {% for tf_key, tf_value in time_frame_dict.items %}
                {% with dow_key|concat:tf_key as combine_key %}
                  <div class="form-check form-check-inline">
                    <input id="id_{{ combine_key }}" class="form-check-input"  type="checkbox" name="timeframes" value="{{ combine_key }}" {% if combine_key|timeframeexists:instance.timeframe_list  %}checked{% endif %}>
                    <label class="form-check-label" for="id_{{ combine_key }}">
                      {{ tf_value }}
                    </label>
                  </div>
                {% endwith %}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>

      </div>

      <span class="condition"><label>ご希望の期間</label></span>
      {% for err in form.to_date.errors %}
        <span class="errormsg"><i class="fas fa-exclamation"></i>{{ err }}</span>
      {% endfor %}
      {% for err in form.from_date.errors %}
        <span class="errormsg"><i class="fas fa-exclamation"></i>{{ err }}</span>
      {% endfor %}
      <div class="row">
        <div class="col-md-3">
          <div class="form-check form-check-inline">
            <input style="margin-bottom:3px;" id="id_is_anyday" class="form-check-input"  type="radio" {% if instance.is_anyday %}checked{% endif %} name="is_anyday" value="True">
            <label class="form-check-label" for="id_is_anyday">
              指定なし
            </label>
          </div>
        </div>
        <div class="col-md-9">
            <input type="radio" name="is_anyday" value="False" {% if not instance.is_anyday %}checked{% endif %}>
            <input class="my-date-input" type="date" id = "id_from_date" name = 'from_date' value="{% if instance %}{{ instance.from_date|date:'Y-m-d' }}{% endif %}">
            <span>〜</span>
            <input class="my-date-input" type="date" id = "id_to_date" name = 'to_date' value="{% if instance %}{{ instance.to_date|date:'Y-m-d' }}{% endif %}">
        </div>
      </div>

      {% for field in clinic_instance.additional_fields.all %}
        <span class="condition">{{ field.name }}</span>
        <div class="form-check form-check-inline">
            {% for option in field.options.all %}
              {% with field.id|concatwithdash:option.id as combine_key %}
                <input type="checkbox" id="id_additional_field_{{ combine_key }}"  name="{{ combine_key }}" {% if instance|check_additional_field:combine_key  %}checked{% endif %} class="form-check-input">
                <label for="id_additional_field_{{ combine_key }}" class="form-check-label">{{ option.value }}</label>
              {% endwith %}
            {% endfor %}
        </div>
      {% endfor %}
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-danger">
        {% if instance %}
          更新
        {% else %}
          登録
        {% endif %}
      </button>                                                   
    </form>
{% endblock %}
{% block script %}
<script>
  var $input_is_anytime = $('#id_is_anytime');
  var $input_is_anyday = $('input[name="is_anyday"]');
  var $input_to_date = $('#id_to_date');
  var $input_from_date = $('#id_from_date');
  
  var $input_timeframes = $('input[name="timeframes"]');
  $(function() {
    if ($input_is_anytime.prop('checked')) {
      $input_timeframes.attr('disabled', true)
    }
    $input_is_anytime.change(function () {
      var checked = ($(this).prop('checked'))
      $input_timeframes.attr('disabled', checked)
    });
    
    if ($input_is_anyday.prop('checked')) {
      $('#id_to_date').attr('disabled', true);
      $('#id_from_date').attr('disabled', true);
    }
    $input_is_anyday.change(function () {
      var is_anyday = $(this).val() == 'True';
      $('#id_to_date').attr('disabled', is_anyday);
      $('#id_from_date').attr('disabled', is_anyday);
    });
    

    $('form').submit(function(e) {
      var is_anyday = $('#id_is_anyday').prop('checked');
      if (!is_anyday && $input_from_date.val() == '' && $input_to_date.val() == '' ) {
        alert('日付を入力してください');
        return false;
      }
      return true; 
    });
  })
</script>
{% endblock %}